player-connection-mode=Listen
player-connection-guid=3577818651
player-connection-debug=1
player-connection-project-name=Network_Project_Trinity_Force
player-connection-ip=121.167.238.90
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6a7a1d003835469e893c82714a1e51a5
